<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>  
  <add name="LinkedIn"
   providerName="PostgreSQL OLE DB Provider;"
   connectionString="User ID=postgres;Password=2023;Host=localhost;Port=5433;Database=LinkedInDb;Pooling=true;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=0;" />  
</connectionStrings>  